atomicwrites==1.3.0
attrs==19.1.0
autocorrect==0.3.0
cycler==0.10.0
decorator==4.4.0
dj-database-url==0.5.0
Django==2.2
django-cors-headers==2.5.2
django-cors-middleware==1.3.1
django-heroku==0.3.1
djangorestframework==3.9.2
djangorestframework-jwt==1.11.0
drf-base64==0.9.4
gunicorn==19.9.0
html5lib==1.0.1
imageio==2.5.0
imutils==0.5.2
kiwisolver==1.0.1
matplotlib==3.0.3
mechanize==0.4.2
more-itertools==7.0.0
networkx==2.3
numpy==1.16.2
opencv-contrib-python==3.4.2.17
PassportEye==1.4.0
pdfminer3k==1.3.1
Pillow==6.0.0
pluggy==0.9.0
ply==3.11
psycopg2==2.8.1
py==1.8.0
PyJWT==1.7.1
pyparsing==2.4.0
pytesseract==0.2.6
pytest==4.4.1
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.0.3
scikit-image==0.15.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sqlparse==0.3.0
webencodings==0.5.1
whitenoise==4.1.2
