<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Adding {{type}} </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-grid>
    <ion-row>
     
      <ion-col col-4>
          <ion-button (click)="openCam()"   >Open Camera</ion-button>
      </ion-col>
      <ion-col col-4></ion-col>
      <ion-col col-4>
          <ion-button (click)="openGallery()"   >open gallery</ion-button>  
      </ion-col>
    </ion-row>
     
      </ion-grid>
     

  

 


    <!--
<ion-list lines="none" *ngIf="data">
        <ion-list-header>
            <ion-label>Results</ion-label>
          </ion-list-header>
          <ion-item>
              <ion-label>ID</ion-label>
              <ion-input type='text' [value]="data['id']"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Name</ion-label>
                <ion-input type='text' [value]="data['name']"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Address</ion-label>
                  <ion-input type='text' [value]="data['address']"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>code</ion-label>
                    <ion-input type='text' [value]="data['code']"></ion-input>
                  </ion-item>
        </ion-list>
        <ion-card *ngIf="data"   >
        <img src="{{image}}">
        <ion-card-header>
           
          <ion-card-title>Results</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <form #idform="ngForm" (ngSubmit)="saveData(idform)" *ngIf="chechID()">
              <ion-row center>  
                <ion-col text-center>   
                   <ion-item>
                    <ion-label>Title: </ion-label>
                    <ion-input type='text' [value]="type" name="title" required [(ngModel)]="type"></ion-input>
                   </ion-item> 
                  
                </ion-col> 
               </ion-row>
              
              <ion-item>
                <ion-label>ID</ion-label>
                <ion-input type='text' [value]="data['id']" name="id" required [(ngModel)]="data['id']"></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label>Name</ion-label>
                  <ion-textarea autosize type='text' [value]="data['name']" rows="2" name="name" required [(ngModel)]="data['name']"></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label>Address</ion-label>
                    <ion-textarea autosize [value]="data['address']" name="address" required [(ngModel)]="data['address']"></ion-textarea>
                    
                  </ion-item>
                  <ion-item>
                      <ion-label>code</ion-label>
                      <ion-input type='text' [value]="data['code']" name="code" required [(ngModel)]="data['code']"></ion-input>
                    </ion-item>
                    <ion-row center>  
                        <ion-col text-center>   
                          <br>  
                         <ion-button type="submit" block [disabled]="!idform.form.valid" > Save</ion-button> 
                        </ion-col> 
                       </ion-row>
                  </form>
                  <form #form="ngForm" (ngSubmit)="saveData(form)" *ngIf="chechPassport()">
                     
                      <ion-item>
                        <ion-label>Nationality</ion-label>
                        <ion-input type='text' [value]="data['Nationality']"></ion-input>
                      </ion-item>
                      <ion-item>
                          <ion-label>Name</ion-label>
                          <ion-input type='text' [value]="data['Name']"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Passport_No</ion-label>
                            <ion-input type='text' [value]="data['Passport_No']"></ion-input>
                          </ion-item>
                          <ion-item>
                              <ion-label>Country</ion-label>
                              <ion-input type='text' [value]="data['Country']"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label>Sex</ion-label>
                                <ion-input type='text' [value]="data['Sex']"></ion-input>
                              </ion-item>
                              <ion-item>
                                  <ion-label>Date_of_Birth</ion-label>
                                  <ion-input type='text' [value]="data['Date_of_Birth']"></ion-input>
                                </ion-item>
                                <ion-item>
                                  <ion-label>Expiration_date</ion-label>
                                  <ion-input type='text' [value]="data['Expiration_date']"></ion-input>
                                </ion-item>
                            <ion-row center>  
                                <ion-col text-center>   
                                  <br>  
                                 <ion-button type="submit" block> Save</ion-button> 
                                </ion-col> 
                               </ion-row>
                          </form>
        </ion-card-content>
      </ion-card>
    -->
     
    <ion-card *ngIf="show"   >
      <img src="{{image}}">
      <ion-card-header>
         
        <ion-card-title>Results</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          <form #idform="ngForm" (ngSubmit)="saveData(idform)">
              <ion-row center>  
                  <ion-col text-center>   
                     <ion-item>
                      <ion-label>Title: </ion-label>
                      <ion-input  type='text' [value]="type" name="title" required [(ngModel)]="type"></ion-input>
                     </ion-item> 
                    
                  </ion-col> 
                 </ion-row> 
                  <ion-item *ngFor="let k of keys">
                      <ion-label>{{k}}</ion-label>
                      <ion-textarea rows="1" autosize type='text' [(ngModel)]="data[k]"  required name="{{k}}"></ion-textarea>
                    </ion-item> 
     <div *ngIf="!checkLicense()&&!checkCard()">
        <ion-row center>  
            <ion-col text-center>   
              <br>  
             <ion-button type="submit" block [disabled]="!idform.form.valid" > Save</ion-button> 
            </ion-col> 
           </ion-row>
     </div>
     <div *ngIf="checkLicense()">
        <ion-row>
     
            <ion-col col-4>
                <ion-button type="submit" block [disabled]="!idform.form.valid" > Save</ion-button>
            </ion-col>
            <ion-col col-4></ion-col>
            <ion-col col-4>
                <ion-button (click)="getFines()" >Get Fines</ion-button>  
            </ion-col>
          </ion-row>
     </div>
     <div *ngIf="checkCard()">
        <ion-row>
     
            <ion-col col-4>
                <ion-button type="submit" block [disabled]="!idform.form.valid" > Save</ion-button>
            </ion-col>
            <ion-col col-4></ion-col>
            <ion-col col-4>
                <ion-button (click)="saveContacts()" >Save Contact</ion-button>  
            </ion-col>
          </ion-row>
     </div>
                    
                  </form>
                </ion-card-content>
              </ion-card>
</ion-content>
